@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Monoton&display=swap");
$FontFamily: "Indie Flower", cursive;
$White: #fff;
$Black: #000;
$Grey: #575659;
$SoftBlue: #d5e2f2;
$PatrolGreen: #204040;
$DarkGeen: #7e8c69;
$LightGreen: #a4a676;
