@import "./variables", "./_mixins.scss";

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $PatrolGreen;
  font-size: 1.4rem;
  color: $White;
  .nav-links {
    padding: 0.6rem 1.1rem;
    cursor: pointer;
    &:hover {
      background-color: $SoftBlue;
      color: $Black;
    }
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
  }
}
@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
